@charset "UTF-8";
/* MOBILE */
@media screen and (max-width: 980px){
    header .menu-desktop, header .btn-contato{
        display: none;
    }

    /* BOTAO MENU MOBILE */
    header .btn-menu-mob{
        display: block;
    }
}
@media screen and (max-width: 888px){
    /* HERO */
    .hero-site .txt-hero h1{
        font-size: 2.6em;
        line-height: 45px;
    }
    .hero-site .txt-hero p{
        font-size: 15px;
    }
    .hero-site .txt-hero p span{
        display: inline;
    }
    .hero-site button{
        font-size: 18px;
    }
    /* FIM HERO */

    /* VANTAGENS */
    .vantagens .itens-container{
        flex-direction: column;
    }
    .vantagens .itens-container .img-itens img{
        max-width: 100%;
        border-radius: 15px;
        box-shadow: 6px 6px 0 #3b1a01;  
    }
    .vantagens .itens-container .txt-itens p{
        /* font-size: 20px; */
        margin-bottom: 20px;
    }
    .vantagens .itens-container .txt-itens h3 span {
        font-weight: 200;
    }
    .vantagens .itens-container .item-1{
        order: 1;
    }
    .vantagens .itens-container .item-2{
        order: 0;
    }
    /* FIM VANTAGENS */

    /* SAUDE */
    .txt-saude, .icons-saude{
        display: block;
        width: 100%;
    }
    .saude .txt-saude h3{
        font-size: 2em;
        line-height: 40px;
    }
    .saude .txt-saude p{
        margin-bottom: 20px;
    }
    .saude .icons-saude button{
        width: 100%;
    }
    /* FIM SAUDE */

    /* FRASE */
    .frase h3{
        font-size: 1.5em;
        line-height: 40px;
    }
    .frase p{
        font-size: 16px;
    }
    /* FIM FRASE */

    /* COMO FUNCIONA */
    .txt-funciona, .instrucoes{
        display: block;
        width: 100%;
    }
    .como-funciona .txt-funciona{
        position: static;
    }
    .como-funciona .txt-funciona h3{
        font-size: 3em;
        line-height: 50px;
    }
    .instrucoes .instru-box{
        flex-direction: column;
        /* text-align: center; */
    }
    /* FIM COMO FUNCIONA */
    /* RODAPÉ */
    footer .middle-footer a{
        font-size: 14px;
    }
    footer .bottom-footer p, a{
        font-size: 14px;
    }
/* FIM MOBILE */
}