@charset "UTF-8";

/* GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #E3E3E3;
    /* height: 900vh; */
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

header .btn-contato button, .hero-site button, .frase button{
    font-size: 18px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: .5s;
}

header .btn-contato button:hover, .hero-site button:hover, .frase button:hover{
    background-color: white;
    color: black;
}
/* FIM GERAL */

/* HEADER */
header{
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
}
header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo img{
    max-width: 58px;
}
header .menu-desktop nav ul{
    list-style-type: none;
}
header .menu-desktop nav ul li{
    display: inline-block;
    margin: 0 40px;
}
header .menu-desktop nav ul li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
.menu-desktop nav a:hover{
    transform: scale(1.05);
}
header .btn-contato button{
    width: 140px;
    height: 50px;
}
/* FIM HEADER */

/* HERO */
section.hero-site{
    height: 98vh;
    background-image: url(../imagens/header-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.hero-site .interface{
    display: flex;
    align-items: center;
    height: 100%;
}
.hero-site .txt-hero h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}
.hero-site .txt-hero h1 span{
    display: block;
    font-weight: 800;
}
.hero-site .txt-hero p{
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}
.hero-site .txt-hero p span{
    display: block;
}
.hero-site button{
    width: 220px;
    height: 60px;
    font-size: 20px;
}
/* FIM HERO */

/* VANTAGENS */
section.vantagens{
    padding: 80px 0;
}
.vantagens .itens-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}
.vantagens .itens-container .img-itens img{
    max-width: 420px;
    border-radius: 15px;
    box-shadow: 6px 6px 0 #3b1a01;  
}
.vantagens .itens-container .txt-itens h3{
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
}
.vantagens .itens-container .txt-itens h3 span {
    font-weight: 200;
}
/* FIM VANTAGENS */

/* SAUDE */
section.saude{
    background-color: white;
    padding: 80px 0;
}
.txt-saude, .icons-saude{
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}
.saude .txt-saude h3{
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}
.saude .txt-saude h3 span{
    display: block;
    font-weight: 700;
}
.saude .icons-saude a{
    text-decoration: none;
}
.saude .icons-saude button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
    transition: .5s;
}
.saude .icons-saude button i{
    font-size: 20px;
}
.saude .icons-saude button:hover{
    background-color: black;
    color: white;
}
/* FIM SAUDE */

/* FRASE */
section.frase{
    height: 600px;
    background-image: url(../imagens/frase.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    text-align: center;
    background-attachment: fixed;
}
.frase > .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.699);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.frase > .interface{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    position: relative;
}
.frase h3{
    font-size: 3em;
    line-height: 50px;
    font-weight: 200;
}
.frase h3 span{
    display: block;
    font-weight: 700;
}
.frase p{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 300;
}
.frase button{
    width: 220px;
    height: 60px;
}
/* FIM */

/* COMO FUNCIONA */
section.como-funciona{
    padding: 80px 0;
}
.txt-funciona, .instrucoes{
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}
.como-funciona .txt-funciona{
    position: sticky;
    top: 50%;
    padding-bottom: 30px;
}
.como-funciona .txt-funciona h3{
    font-size: 4em;
    line-height: 60px;
    font-weight: 300;
}
.como-funciona .txt-funciona h3 span{
    display: block;
    font-weight: 700;
}
.instrucoes .instru-box{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    border: 2px solid black;
    padding: 20px;
}
.instrucoes .instru-box img{
    max-width: 130px;
}
.instrucoes .instru-box h4{
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 25px;
}
.instrucoes .instru-box h4 span{
    font-weight: 300;
}
.instrucoes .instru-box p{
    /* font-size: 14px; */
    line-height: 20px;
}
/* FIM COMO FUNCIONA */